// colors
$purpleColor: rgba(126, 90, 255, 0.83);
$lightBlueColor: rgba(85, 183, 255, 0.83);
$cyanColor: rgba(36, 204, 250, 1);
$blueColor: rgba(60, 127, 212, 1);
$whiteColor: #fff;
$darkBlueColor: #2C4058;
$blackColor: #000;

//font-families
$fontMontserrat: 'Montserrat', sans-serif;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;