.contact {
    padding: 0 8px;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        color: $blackColor;
        font-size: 18px;

        i {
            color: $purpleColor;
        }
    }
}

.map {
    min-height: 700px;
}

form {
    position: absolute;
    background: url("/img/city-1.png"), $whiteColor;
    background-repeat: no-repeat;
    background-position: bottom;
    min-width: 48vw;
    margin-top: -72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form.valid {
    display: none;
}

.data {
    li {
        padding-bottom: 20px;
    }
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;

    input:focus {
        outline: 0;
    }
}

.inputs {
    padding-bottom: 68px;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}