.contact {
    padding: 0 8px;

    span {
        color: $blackColor;
        font-size: 18px;

        i {
            color: $purpleColor;
        }
    }
}

input {
    border: none;
    border-bottom: 1px solid $darkBlueColor;
}

input::placeholder {
    font-family: $fontMontserrat;
    font-size: 18px;
    line-height: 1.5;

}