.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    border-radius: none;
    cursor: pointer;
}

a:focus,
a:active {
    outline: none;
}

li {
    list-style: none;
}

a .icon {
    width: 40px;
    height: 40px;
}

h3 {
    font-family: $fontMontserrat;
    font-weight: 700;
    size: 44px;
    line-height: 1.2;
    color: $darkBlueColor;
    text-transform: uppercase;
}

p {
    font-family: $fontOpenSans;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: $darkBlueColor;
}

h1 {
    font-family: $fontMontserrat;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: $whiteColor;
    text-transform: uppercase;
}

h4 {
    font-family: $fontMontserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.3em;
    color: $whiteColor;
    text-transform: uppercase;
}

hr {
    //   color: $darkBlueColor;
    width: 100px;
    border: 1px solid $darkBlueColor;
}